<div class="row">
  <div class="col-md-3">
    nav
  </div>
  <div class="col-md-9">
    <h1>My Favorite <%= params[:type] %> Stuff</h1>


    <% @posts.each do |post| %>
      <h2><%= post.name %></h2>
        <%= post.image %>
        <%= post.video %>
        <p><%= post.about %></p>

        <td><%= post.order_link %></td>
        <td><%= post.weight %></td>
        <td><%= post.type %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>


<br>

<%= link_to 'New Post', new_post_path, class: "btn btn-default" %>

  </div>  
</div>
