<div class="row">
  <div class="col-md-12">
  <br/>
    <ol class="breadcrumb">
        <li><%= link_to params[:type]+'s', '/'+params[:type].downcase+'s' %></li>
        <li class="active"><%= @post.name %></li>
      </ol>
      <%= '<div id="notice" class="alert alert-success">'.html_safe + notice + '</div>'.html_safe if notice.present?%>

      <h1>
        <%= @post.name %>
      </h1>
        <div class="row">
          <% if @post.image.present? %>
            <div class="col-md-6">
              <%= @post.image %>
            </div>
          <% end %>
          <% if @post.video.present? %>
            <div class="col-md-6">
              <%= @post.video %>
            </div>
          <% end %>
        </div>

      <p>
        <%= @post.about %>
      </p>


      <p>
        <%= @post.order_link %>
      </p>



      <%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-default' if user_signed_in? %>
      <%= link_to 'Back', '/'+params[:type].downcase+'s', class: 'btn btn-default' %>

  </div>
</div>
      